<!-- projects_app/templates/dashboard/admin_projects_dashboard.html -->

{% extends "sidebars/base_sidebar.html" %}
{% load i18n %}
{% load static %}
{% load custom_filters %}

{% block title %}{% trans "Admin Dashboard - ITS Portal" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/custom_styles.css' %}">
<div class="container-fluid mt-1">
    <div class="text-center">
        <h1 class="display-4">{% trans "Admin Dashboard" %}</h1>
        <hr class="mt-5 mb-4">
    </div>

    <div class="row">
        <!-- Primer Panel -->
        <div class="col-md-4 mb-4" style="height: 700px;">
            {% include 'dashboard/performance_metrics.html' %}
            {% include 'dashboard/manage_projects.html' %}
            {% include 'dashboard/recent_updates.html' %}
        </div>

        <!-- Segundo Panel -->
        <div class="col-md-4 mb-4" style="height: 700px;">
            {% include 'dashboard/tasks_and_deadlines.html' %}
        </div>

        <!-- Tercer Panel -->
        <div class="col-md-4 mb-4" style="height: 700px;">
            {% include 'dashboard/deliverables.html' %}
            {% include 'dashboard/feedback_and_support.html' %}
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addTaskForm" action="{% url 'projects_app:create_task' %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="addTaskModalLabel">{% trans "Add New Task" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ task_form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
                    <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addUpdateModal" tabindex="-1" aria-labelledby="addUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addUpdateForm" action="{% url 'projects_app:create_update' %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="addUpdateModalLabel">{% trans "Add New Update" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ update_form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
                    <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addDocumentModal" tabindex="-1" aria-labelledby="addDocumentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addDocumentForm" action="{% url 'projects_app:add_document' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="addDocumentModalLabel">{% trans "Add New Deliverable" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ document_form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
                    <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

<script src="{% static 'js/projects.js' %}"></script>
