<!-- projects_app/dashboard/employee_projects_dashboard.html -->

{% extends "sidebars/base_sidebar.html" %}
{% load i18n %}
{% load static %}
{% load custom_filters %}

{% block title %}{% trans "Employee Dashboard - ITS Portal" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/custom_styles.css' %}">
<div class="container-fluid mt-1">
    <div class="text-center">
        <h1 class="display-4">{% trans "Employee Dashboard" %}</h1>
        <hr class="mt-5 mb-4">
    </div>

    <div class="row">
        <!-- Primer Panel -->
        <div class="col-md-4 mb-4" style="height: 700px;">
            {% include 'dashboard/performance_metrics.html' %}
            {% include 'dashboard/assigned_projects.html' %}
            {% include 'dashboard/recent_updates.html' %}
        </div>

        <!-- Segundo Panel -->
        <div class="col-md-4 mb-4" style="height: 700px;">
            {% include 'dashboard/tasks_and_deadlines.html' %}
        </div>

        <!-- Tercer Panel -->
        <div class="col-md-4 mb-4" style="height: 700px;">
            {% include 'dashboard/deliverables.html' %}
            {% include 'dashboard/feedback_and_support.html' %}
        </div>
    </div>
</div>

<!-- Modals -->
{% include 'modals/add_task_modal.html' %}
{% include 'modals/add_update_modal.html' %}
{% include 'modals/add_deliverable_modal.html' %}

{% endblock %}

<script src="{% static 'js/projects.js' %}"></script>
