<!-- projects_app/templates/dashboard/manage_projects.html -->
 
{% include 'modals/add_project_modal.html' %}

{% load i18n %}
{% load static %}
{% load custom_filters %}

<div class="card mb-4" style="height: 269px;">
    <div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
        <h4>{% trans "Manage Projects" %}</h4>
        <a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover border-0 m-0 p-0" data-bs-toggle="modal" data-bs-target="#addProjectModal" title="{% trans 'Create New Project' %}">
            <i class="bi bi-plus-circle" style="font-size: 1.5em;"></i>
        </a>
    </div>
    <div class="card-body p-2" style="overflow-y: auto;">
        <!-- Lista de todos los proyectos con opciones para ver y editar -->
        <ul class="list-group">
            {% for project in projects %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <a href="{% url 'projects_app:view_project' project.id %}" class="text-decoration-none fs-6">
                            {{ project.code }} - {{ project.name }}
                        </a>
                        <span class="badge 
                            {% if project.status == 'pending' %}bg-warning text-dark
                            {% elif project.status == 'ongoing' %}bg-success
                            {% elif project.status == 'completed' %}bg-secondary
                            {% endif %} rounded-pill">{{ project.get_status_display }}</span>
                    </div>
                    <div class="btn-group" role="group" aria-label="Project Actions">
                        <a href="{% url 'projects_app:edit_project' project.id %}" class="btn btn-sm btn-outline-primary border-0" title="{% trans 'Edit Project' %}">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <button type="button" class="btn btn-sm btn-outline-danger border-0" title="{% trans 'Delete Project' %}" data-bs-toggle="modal" data-bs-target="#deleteProjectModal" data-project-id="{{ project.id }}">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- Modal for confirming project deletion -->
<div class="modal fade" id="deleteProjectModal" tabindex="-1" aria-labelledby="deleteProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="deleteProjectForm" method="post" action="">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteProjectModalLabel">{% trans "Delete Project" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{% trans "Are you sure you want to delete this project?" %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                    <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var deleteProjectModal = document.getElementById('deleteProjectModal');
    deleteProjectModal.addEventListener('show.bs.modal', function(event) {
        var button = event.relatedTarget;
        var projectId = button.getAttribute('data-project-id');
        var form = deleteProjectModal.querySelector('#deleteProjectForm');
        form.action = "{% url 'projects_app:delete_project' 0 %}".replace('0', projectId);
    });
});
</script>
