<!-- projects_app/templates/dashboard/update_list_item.html -->
 
{% load i18n %}

<li class="list-group-item d-flex justify-content-between align-items-center position-relative">
    <div>
        <h6 class="mb-1 fs-6">{{ project.code }} - {{ update.title }}</h6> 
        <p>{{ update.content|truncatewords:10 }}</p>
        <small>{% trans "Updated on:" %} {{ update.date }}</small>
    </div>
    <span class="badge position-absolute top-0 end-0 m-2 
        {% if update.status == 'critical' %}bg-danger
        {% elif update.status == 'informative' %}bg-info
        {% elif update.status == 'warning' %}bg-warning text-dark
        {% elif update.status == 'resolved' %}bg-success
        {% elif update.status == 'announcement' %}bg-secondary
        {% endif %}">
        {{ update.get_status_display }}
    </span>
</li>
