<!-- main/templates/sidebars/sidebar_admin.html -->

{% load i18n %}

{% block sidebar_links %}
    <li class="my-1">
        <!-- Enlace a la vista de mensajes -->
        <a href="{% url 'main:admin_inbox' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'admin_inbox' %}active{% endif %}">
            <i class="bi bi-inbox me-2"></i> {% trans "Inbox" %}
        </a>
    </li>
    <li class="my-1">
        <!-- Enlace al dashboard del admin -->
        <a href="{% url 'main:dashboard' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
            <i class="bi-speedometer me-2"></i> {% trans "Dashboard" %}
        </a>
    </li>
    <li class="my-1">
        <!-- Enlace a la vista de proyectos del admin -->
        <a href="{% url 'projects_app:admin_projects_dashboard' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'view_projects' %}active{% endif %}">
            <i class="bi-briefcase me-2"></i> {% trans "Projects" %}
        </a>
    </li>
    <li class="my-1">
        <!-- Enlace al foro -->
        <a href="{% url 'forum_app:forum' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'forum' %}active{% endif %}">
            <i class="bi-chat-left-text me-2"></i> {% trans "Forum" %}
        </a>
    </li>
    <li class="my-1">
        <!-- Enlace a la lista de blogs del admin -->
        <a href="{% url 'blog_app:admin_blog_list' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'admin_blog_list' %}active{% endif %}">
            <i class="bi-pencil me-2"></i> {% trans "Blog" %}
        </a>
    </li>
{% endblock %}
