<!--main/sidebar/sidebar_client_collapsed.html-->

{% load i18n %}

{% block sidebar_links %}
    <li class="nav-item">
        <a href="{% url 'main:dashboard' %}" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Dashboard' %}">
            <i class="bi-speedometer me-2"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'projects_app:client_projects_dashboard' %}" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Projects' %}">
            <i class="bi-briefcase me-2"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'messages_app:default_messages_view' %}" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Messages' %}">
            <i class="bi-envelope me-2"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'forum_app:forum' %}" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Forum' %}">
            <i class="bi-chat-left-text me-2"></i>
        </a>
    </li>
{% endblock %}
