<!-- forum_app/create_topic.html -->

{% extends "main/base_sidebar.html" %}
{% load i18n %}

{% block title %}{% trans "Create Topic - ITS Portal" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">{% trans "Create Topic" %}</h1>
        <hr class="my-5">
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.title.label_tag }} {{ form.title }}
                </div>
                <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
