<!-- forum_app/forum.html -->

{% extends "sidebars/base_sidebar.html" %}
{% load i18n %}
{% load humanize %}
{% load static %}

{% block title %}{% trans "Forum - ITS Portal" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/forum_styles.css' %}">
<div class="container-fluid mt-1">
    <div class="text-center">
        <!-- Título del foro -->
        <h1 class="display-4">{% trans "Forum" %}</h1>
        <hr class="my-5">
    </div>

    <div class="row" style="height: calc(100vh - 250px);">
        <!-- Barra lateral de temas -->
        <div id="sidebar" class="col-md-3 p-0">
            <!-- Botón para crear nuevo tema -->
            <div class="row my-4 px-3 justify-content-center">
                <a href="#" class="btn btn-success w-50" data-bs-toggle="modal" data-bs-target="#newTopicModal">
                    <i class="bi bi-plus-circle me-2"></i>{% trans "Create New Topic" %}
                </a>
            </div>
            <!-- Barra de búsqueda -->
            <div class="row my-4 px-3">
                <form method="get" action="{% url 'forum_app:forum' %}" class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="{% trans 'Search Topics' %}" aria-label="Search" name="search">
                    <button class="btn btn-success" type="submit">{% trans 'Search' %}</button>
                </form>
            </div>
            <hr>
            <!-- Temas recientes -->
            <div class="card mb-3 h-100">
                <div class="card-header bg-success">
                    <h4>{% trans "Recent Topics" %}</h4>
                </div>
                <div class="card-body overflow-auto p-2">
                    <ul class="list-group list-group-flush" id="recent-topics-list">
                        {% for topic in recent_topics %}
                            <li class="list-group-item d-flex justify-content-between align-items-center py-3">
                                <a href="{% url 'forum_app:topic_detail' topic.id %}">{{ topic.title }}</a>
                                <button type="button" class="btn btn-primary position-relative btn-sm me-3">
                                    <a href="{% url 'forum_app:create_post' topic.id %}">{% trans "Post" %}</a>
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                        {{ topic.posts.count }}
                                        <span class="visually-hidden">{% trans "Post count" %}</span>
                                    </span>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Mensaje cuando no hay temas recientes -->
                {% if not recent_topics %}
                    <p class="text-center mt-3">{% trans "No recent topics found." %}</p>
                {% endif %}
            </div>
        </div>
        <!-- Publicaciones recientes -->
        <div id="main-area-recent-posts" class="col-md-9 p-0">
            <div class="card mb-3 h-100 p-0">
                <div class="card-header bg-success">
                    <h4>{% trans "Recent Posts" %}</h4>
                </div>
                <div class="card-body overflow-auto">
                    <div class="list-group list-group-flush" id="recent-posts-list">
                        {% for post in recent_posts %}
                            <div class="list-group-item">
                                <div class="d-flex align-items-start">
                                    {% if post.author.profile.profile_picture %}
                                        <img src="{{ post.author.profile.profile_picture.url }}" alt="{% trans 'Avatar' %}" class="rounded-circle me-3" width="40" height="40">
                                    {% else %}
                                        <img src="{% static 'assets/images/default_avatar.png' %}" alt="{% trans 'Default Avatar' %}" class="rounded-circle me-3" width="40" height="40">
                                    {% endif %}
                                    <div class="flex-fill">
                                        <a href="{% url 'forum_app:post_detail' post.id %}">{{ post.title }}</a>
                                        <p class="mb-0">{{ post.content|truncatewords:15 }}</p>
                                        <!-- Uso del filtro humanize para mostrar la fecha de manera más amigable -->
                                        <small class="text-muted">{{ post.created_at|naturaltime }}</small>
                                    </div>
                                    <a href="{% url 'forum_app:reply_post' post.id %}" class="btn btn-primary ms-3">{% trans "Reply" %}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Mensaje cuando no hay publicaciones recientes -->
                    {% if not recent_posts %}
                        <p class="text-center mt-3">{% trans "No recent posts found." %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para nuevo tema -->
    <div class="modal fade" id="newTopicModal" tabindex="-1" aria-labelledby="newTopicModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newTopicModalLabel">{% trans "Create New Topic" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createTopicForm" method="post" action="{% url 'forum_app:create_topic' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_title">{% trans "Title" %}</label>
                            <input type="text" class="form-control" id="id_title" name="title" required>
                        </div>
                        <div class="form-group mt-3">
                            <label for="id_content">{% trans "Content" %}</label>
                            <textarea class="form-control" id="id_content" name="content" rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-success mt-3">{% trans "Create" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/forum.js' %}"></script>
{% endblock %}
