<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/client_styles.css' %}">
    <title>Client Dashboard - ITS Portal</title>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-dark" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
                {% if user.is_authenticated %}
                    {% if user.profile.profile_picture %}
                        <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}" class="img-fluid rounded-circle" style="width: 32px; height: 32px;">
                    {% else %}
                        <img src="https://res.cloudinary.com/ferjen/image/upload/v1718991742/avatars/red_cuddly_iqxage.png" alt="Default Avatar" class="img-fluid rounded-circle" style="width: 32px; height: 32px;">
                    {% endif %}
                {% else %}
                    <i class="bi-person-circle me-2"></i>Client
                {% endif %}
            </div>
            <div class="list-group list-group-flush my-3">
                <a href="{% url 'client_portal:client_dashboard' %}" class="list-group-item list-group-item-action bg-transparent second-text {% if request.resolver_match.url_name == 'client_dashboard' %}active{% endif %}">
                    <i class="bi-house me-2"></i> Dashboard
                </a>
                <a href="{% url 'client_portal:view_projects' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold {% if request.resolver_match.url_name == 'view_projects' %}active{% endif %}">
                    <i class="bi-briefcase me-2"></i> Projects
                </a>
                <a href="{% url 'messages_app:messages_view' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold {% if request.resolver_match.url_name == 'messages_view' %}active{% endif %}">
                    <i class="bi-envelope me-2"></i> Messages
                </a>
                <a href="{% url 'forum_app:forum' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold {% if request.resolver_match.url_name == 'forum' %}active{% endif %}">
                    <i class="bi-chat-left-text me-2"></i> Forum Posts
                </a>
                <a href="{% url 'blog:create_blog_post' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold {% if request.resolver_match.url_name == 'create_blog_post' %}active{% endif %}">
                    <i class="bi-journal-text me-2"></i> Blog Posts
                </a>
                <a href="{% url 'logout' %}" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">
                    <i class="bi-box-arrow-left me-2"></i> Logout
                </a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="bi-list bi-toggle-sidebar me-3" id="menu-toggle"></i>
                    <h2>Welcome Back!</h2>
                </div>
            </nav>

            <div class="container-fluid px-4">
                <div class="row g-3 my-2">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>
