<!--messages_app/messages.html-->

{% extends "main/base_sidebar.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">{% trans "Messages" %}</h1>
        <hr class="my-5">
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3>{% trans "Received Messages" %}</h3>
            <ul class="list-group mb-4">
                {% for message in messages_received %}
                    <li class="list-group-item">
                        <strong>{% trans "From:" %}</strong> {{ message.sender.username }}<br>
                        <strong>{% trans "Message:" %}</strong> {{ message.content }}<br>
                        <strong>{% trans "Date:" %}</strong> {{ message.timestamp }}
                    </li>
                {% endfor %}
            </ul>
            <h3>{% trans "Sent Messages" %}</h3>
            <ul class="list-group">
                {% for message in messages_sent %}
                    <li class="list-group-item">
                        <strong>{% trans "To:" %}</strong> {{ message.recipient.username }}<br>
                        <strong>{% trans "Message:" %}</strong> {{ message.content }}<br>
                        <strong>{% trans "Date:" %}</strong> {{ message.timestamp }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
