<!--messages_app/messages.html-->

{% extends "main/base_sidebar.html" %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Messages</h1>
        <hr class="my-5">
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for message in messages %}
                        <li class="list-group-item">
                            <strong>From:</strong> {{ message.sender.username }}<br>
                            <strong>To:</strong> {{ message.recipient.username }}<br>
                            <strong>Content:</strong> {{ message.content }}<br>
                            <small><em>{{ message.timestamp }}</em></small>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

