<!--messages_app/send_messages.html-->

{% extends "main/base_sidebar.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">{% trans "Send Message" %}</h1>
        <hr class="my-5">
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="recipient">{% trans "Recipient" %}</label>
                    <select name="recipient" id="recipient" class="form-control" required>
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="content">{% trans "Message" %}</label>
                    <textarea name="content" id="content" rows="5" class="form-control" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-4">{% trans "Send" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
