/* static/css/custom_styles.css */

/* Custom Styles for Employee Dashboard & Register & Blog */

/* Dark Mode for List Group Items */
body.dark-mode .list-group-item {
    background-color: #333;
    color: #f8f9fa;
}

.list-group-item {
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 5px;
}

.list-group-item:hover,
.list-group-item:focus {
    background-color: #e9ecef;
}

body.dark-mode .list-group-item:hover,
body.dark-mode .list-group-item:focus {
    background-color: #444;
}

/* Text Muted Dark Mode */
body.dark-mode .text-muted {
    color: #d3d6da;
}

/* Placeholder text color in dark mode */
body.dark-mode input.form-control::placeholder {
    color: #cccccc;
}

/* Badge Styles for Dark Mode */
body.dark-mode .badge.bg-primary {
    background-color: #0056b3;
}

/* Custom Scrollbar Styles */
.card-body-scroll-200 {
    max-height: 200px;
    overflow-y: auto;
}

/* Custom styles for the registration form */
.form-group {
    width: 100%;
    text-align: left;
}

.form-group label {
    font-weight: bold;
}

.invalid-feedback {
    display: none;
}

input.is-invalid ~ .invalid-feedback,
select.is-invalid ~ .invalid-feedback,
textarea.is-invalid ~ .invalid-feedback {
    display: block;
}

.card {
    border-radius: 10px;
}

.card-body {
    padding: 2rem;
}

.btn-block {
    display: block;
    width: 100%;
}

/* Custom styles for blog_list */
.card-img-top {
    object-fit: cover;
    object-position: top;
    height: 350px; 
}

/* Renamed class to be more specific to blog cards */
.blog-card-body {
    max-height: 650px;
    overflow-y: auto;
}

/* Renamed class to be more specific to blog cards */
.blog-card {
    padding: 1px, 10px;
    max-height: 650px;
    overflow-y: auto;
}

.list-group-item-project {
    border-radius: 5px;
    border: 1px solid #666;
    margin-bottom: 10px; /* Ensures the items are not cut off */
}

body.dark-mode .list-group-item-project {
    background-color: #444;
    color: #e0e0e0;
    border-radius: 5px;
    border: 1px solid #666;
}

body.dark-mode .blog-card-body {
    background-color: #444;
    color: #e0e0e0;
}

body.dark-mode .form-control {
    background-color: #555;
    color: #fff;
}

body.dark-mode .form-control::placeholder {
    color: #bbb;
}

body.dark-mode .btn-primary {
    background-color: #0069d9;
    border-color: #0062cc;
}

/* CKEditor dark mode styles */
:root {
    --ck-color-base-border: transparent !important;
}

body.dark-mode .ck.ck-editor__top {
    background-color: #666;
    border-radius: 10px;
    color: #e0e0e0;
}

body.dark-mode .ck.ck-sticky-panel {
    background-color: #666;
    border-radius: 5px;
    color: #e0e0e0;
    border: none;
}

body.dark-mode .ck.ck-toolbar {
    background-color: #666;
    border-radius: 5px;
    color: #e0e0e0; 
    border: none;
}

body.dark-mode .ck.ck-button__icon {
    background-color: #666;
    color: #e0e0e0;
}

body.dark-mode .ck.ck-button__icon:hover {
    background-color: #666;
    color: #333;
}

body.dark-mode .ck.ck-button:hover {
    background-color: #666;
    color: #e0e0e0;
}

body.dark-mode .ck.ck-button_with_text {
    background-color: #666;
    color: #e0e0e0;
}

body.dark-mode .ck.ck-dropdown__panel.ck-dropdown__panel_se {
    background-color: #666;
    color: #e0e0e0;
}

body.dark-mode .ck.ck-list__item {
    background-color: #666;
    color: #e0e0e0;
}

body.dark-mode .ck.ck-dropdown__button {
    background-color: #666;
    color: #e0e0e0;
}


body.dark-mode .ck.ck-button.ck-on .ck-button__label {
    color: #000;
}

/* Dark mode for textarea */
body.dark-mode .ck.ck-editor__main > .ck-editor__editable {
    margin-top: 2px;
    background-color: #444;
    color: #e0e0e0;
    border-radius: 5px;
    border: 1px solid #666;
}

body.dark-mode .text-muted {
    color: #777 !important;
}

.ck-editor__main {
    height: 200px;
}

.ck-editor__editable_inline {
    height: 200px;
    color: #e0e0e0;
}

body.dark-mode .errorlist {
    color: #444; 
}

.text-test-assignment {
    color: red;
}

/*welcomeModal para los users que se acaban de registrar*/

#welcomeModal .modal-content {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
}

#welcomeModal .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#welcomeModal .modal-body img {
    max-width: 100%;
    height: auto;
}

#welcomeModal .btn-outline-primary {
    border-color: #563d7c;
    color: #563d7c;
}

#welcomeModal .btn-outline-primary:hover {
    background-color: #563d7c;
    color: #fff;
}
