/* static/css/forum_styles.css */

/* Variables de tema oscuro */
:root {
    --sidebar-width: 280px;
    --sidebar-bg: #202327;
    --sidebar-color: #fff;
    --sidebar-hover-bg: #3a3a3a;
    --dropdown-bg: #333;
    --dropdown-hover-bg: #444;
    --danger-color: #e74c3c;
    --danger-hover-bg: #c0392b;
    --selected-border: #007bff;
    --icon-color: #343a40;
    --icon-color-dark: #f8f9fa;
    --modal-bg: #f8f9fa;
    --modal-bg-dark: #333;
    --modal-border-dark: #444;
}

/* Estilos para el modo oscuro */
body.dark-mode .card {
    background-color: #333;
    color: #e0e0e0;
}

body.dark-mode .list-group {
    color: #dee2e6;
    background-color: #333;
}

body.dark-mode .text-muted {
    color: #96989b !important;
}

body.dark-mode .list-group-item {
    background-color: #333;
    color: #f8f9fa;
}

body.dark-mode .list-group-item-action:hover,
body.dark-mode .list-group-item-action:focus {
    background-color: #444;
}

body.dark-mode .modal-content {
    background-color: #333;
    color: #f8f9fa;
}

body.dark-mode .modal-header {
    border-bottom: 1px solid #444;
}

body.dark-mode .modal-body {
    border-top: 1px solid #444;
}

body.dark-mode #sidebar {
    color: #dee2e6;
    background-color: #333;
    border-right: 1px solid #222;
}

body.dark-mode #main-area-recent-posts {
    background-color: #333;
}

body.dark-mode a.list-group-item.list-group-item-action.bg-success {
    background-color: #218838 !important;
    color: #fff;
}

body.dark-mode .modal-body ul.list-group::-webkit-scrollbar-track {
    background: #333;
}

body.dark-mode .modal-body ul.list-group::-webkit-scrollbar-thumb {
    background: rgb(63, 63, 63);
}

body.dark-mode .modal-body ul.list-group::-webkit-scrollbar-thumb:hover {
    background: rgb(190, 190, 190);
}

/* Estilos para la barra lateral */
#sidebar {
    height: 78%;
    width: calc(25% + 50px);
    border-right: 1px solid #dee2e6;
    border-radius: 10px;
    background-color: #f8f9fa;
    transition: background-color 0.3s;
}

#main-area-recent-posts {
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 10px;
    height: 99%;
    width: calc(75% - 65px);
}

/* Estilos para la lista */
.list-group {
    background-color: #f8f9fa;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: 0.5px solid #8d8d8d;
}

.list-group-item-action:hover,
.list-group-item-action:focus {
    background-color: #e9ecef;
}

.list-group-item-action {
    background-color: #f8f9fa;
    color: #000;
}

a.list-group-item.list-group-item-action.bg-success {
    background-color: #28a745 !important;
    color: #fff;
}

/* Estilos para el contenido del modal */
.modal-content {
    background-color: #f8f9fa;
}

.modal-body ul.list-group::-webkit-scrollbar {
    width: 0.5em;
}

.modal-body ul.list-group::-webkit-scrollbar-track {
    background: #f8f9fa;
}

.modal-body ul.list-group::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgb(190, 190, 190);
}

.modal-body ul.list-group::-webkit-scrollbar-thumb:hover {
    border-radius: 4px;
    background: rgb(63, 63, 63);
}

#topic-posts {
    overflow-y: auto;
}

body.dark-mode #topic-posts {
    background-color: #333;
}

/* Estilos para las tarjetas */
.card {
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 15px;
    box-shadow: none;
    transition: background-color 0.3s;
}

body.dark-mode .card {
    background-color: #333;
    color: #e0e0e0;
}
