/* static/css/messages_styles.css */

/* Estilos para la barra lateral */
#sidebar {
    height: 100%;
    width: 25%;
    overflow-y: auto;
    border-right: 1px solid #dee2e6;
    background-color: #f8f9fa;
    transition: background-color 0.3s;
}

body.dark-mode #sidebar {
    color: #dee2e6;
    background-color: #333;
    border-right: 1px solid #222;
}

/* Estilos para la lista de grupos */
.list-group {
    background-color: #f8f9fa;
    transition: background-color 0.3s;
}

body.dark-mode .list-group {
    color: #dee2e6;
    background-color: #444;
}

body.dark-mode .text-muted {
    color: #d3d6da !important;
}

/* Estilos para los items de la lista de grupos */
.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: 0.5px solid #8d8d8d;
}

.list-group-item-action:hover,
.list-group-item-action:focus {
    background-color: #e9ecef;
}

body.dark-mode .list-group-item-action:hover,
body.dark-mode .list-group-item-action:focus {
    background-color: #444;
}

body.dark-mode .list-group-item {
    background-color: #333;
    color: #f8f9fa;
}

body.dark-mode .list-group-item-action {
    background-color: #333;
    color: #f8f9fa;
}

/* Ajustes generales para el cuerpo */
.p-3 {
    max-width: 75%;
}

.bg-primary {
    background-color: #007bff !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

body.dark-mode .bg-light {
    background-color: #8d8d8d !important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6;
}

.border-top {
    border-top: 1px solid #dee2e6;
}

body.dark-mode .border-bottom,
body.dark-mode .border-top {
    border-color: #444;
}

/* Estilos para iconos */
.bi,
.fas {
    color: #343a40;
}

body.dark-mode .bi,
body.dark-mode .fas {
    color: #f8f9fa;
}

/* Estilos para campos de entrada */
input.form-control {
    background-color: #f8f9fa;
    color: #000;
    border: 1px solid #ced4da;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode input.form-control {
    background-color: #444;
    color: #f8f9fa;
    border: 1px solid #666;
}

body.dark-mode input.form-control::placeholder {
    color: #cccccc;
}

/* Estilos para el área principal */
#main-area {
    background-color: #ffffff;
    border-radius: 10px;
    overflow-y: auto;
}

body.dark-mode #main-area {
    background-color: #333;
}

/* Estilos para la caja de mensajes */
.message-box {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    display: inline-block;
    max-width: 75%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
}

.message-box.bg-primary {
    background-color: #007bff;
    color: white;
    border-radius: 30px 30px 0 30px;
}

.message-box.bg-light {
    background-color: #f8f9fa;
    color: black;
    border-radius: 30px 30px 30px 0;
}

body.dark-mode .message-box.bg-light {
    background-color: #a3a2a2;
    color: white;
}

/* Estilos para acciones de mensajes */
.message-actions {
    position: absolute;
    display: flex;
    gap: 0.5rem;
    padding: 0.25rem;
}

.message-actions .badge {
    cursor: pointer;
    border-radius: 50%;
    padding: 0.5rem;
}

.message-actions .badge.bg-secondary {
    background-color: #6c757d;
}

.message-actions .badge.bg-secondary:hover {
    background-color: #5a6268;
}

.message-actions .edit-badge:hover {
    background-color: #28a745 !important;
}

.message-actions .delete-badge:hover {
    background-color: #dc3545 !important;
}

a.list-group-item.list-group-item-action.bg-success {
    background-color: #28a745 !important;
    color: #fff;
}

body.dark-mode a.list-group-item.list-group-item-action.bg-success {
    background-color: #218838 !important;
    color: #fff;
}

/* Estilos para el modal */
.modal-content {
    background-color: #f8f9fa;
}

body.dark-mode .modal-content {
    background-color: #333;
    color: #f8f9fa;
}

body.dark-mode .modal-header {
    border-bottom: 1px solid #444;
}

body.dark-mode .modal-body {
    border-top: 1px solid #444;
}

/* Estilos personalizados para la barra de desplazamiento */
.modal-body ul.list-group::-webkit-scrollbar {
    width: 0.5em;
}

.modal-body ul.list-group::-webkit-scrollbar-track {
    background: #f8f9fa;
}

body.dark-mode .modal-body ul.list-group::-webkit-scrollbar-track {
    background: #333;
}

.modal-body ul.list-group::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgb(190, 190, 190);
}

.modal-body ul.list-group::-webkit-scrollbar-thumb:hover {
    border-radius: 4px;
    background: rgb(63, 63, 63);
}

body.dark-mode .modal-body ul.list-group::-webkit-scrollbar-thumb {
    background: rgb(63, 63, 63);
}

body.dark-mode .modal-body ul.list-group::-webkit-scrollbar-thumb:hover {
    background: rgb(190, 190, 190);
}