/* static/assets/css/scrollbar.css */

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 0.7em;
}

::-webkit-scrollbar-track {
    background: #222;
    border-radius: 0;
    transition: background 0.3s;
}

body.dark-mode ::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: #666;
    position: relative;
    border-radius: 0;
    overflow: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0;
}

::-webkit-scrollbar-thumb::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}


body {
  transition: background-color 0.3s, color 0.3s, opacity 0.5s;
  opacity: 1;
}

body.loading,
body.fade-out {
  opacity: 0;
}

body.fade-in {
  opacity: 1;
}

body.dark-mode{
    background-color: #222;
}

body.dark-mode ::-webkit-scrollbar-thumb {
    background: #666;
    position: relative;
    border-radius: 0;
    overflow: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0;
}

body.dark-mode ::-webkit-scrollbar-thumb:hover {
    background: #999;
}

/* Scrollbar styles specifically for modals */
.modal-body ul.list-group::-webkit-scrollbar {
    width: 0.7em; /* Increased width for better visibility */
}

.modal-body ul.list-group::-webkit-scrollbar-track {
    background: #222;
    border-radius: 0;
    transition: background 0.3s;
}


body.dark-mode .modal-body ul.list-group::-webkit-scrollbar-track {
    background: #222;
}

.modal-body ul.list-group::-webkit-scrollbar-thumb {
    background: #666;
    position: relative;
    border-radius: 0;
    overflow: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0;
}

.modal-body ul.list-group::-webkit-scrollbar-thumb:hover {
    background: #999;
}

body.dark-mode .modal-body ul.list-group::-webkit-scrollbar-thumb {
    background: #666;
    position: relative;
    border-radius: 0;
    overflow: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0;
}

body.dark-mode .modal-body ul.list-group::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.text-muted-blog{
    color: #444;
}

body.dark-mode .text-muted-blog{
    color: #999;
}