<!-- blog/blog_list.html -->
 
{% extends 'main/base_generic.html' %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">{% trans "Blog List" %}</h1>
        <hr class="my-5">
    </div>
    <div class="row">
        {% for blog in blog_posts %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if blog.image %}
                        <img src="{{ blog.image.url }}" class="card-img-top" alt="{{ blog.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ blog.title }}</h5>
                        <p class="card-text">{{ blog.subtitle }}</p>
                        <a href="{% url 'blog:blog_detail' blog.id %}" class="btn btn-primary">{% trans "Read More" %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

