<!-- blog/blog_detail.html -->

{% extends 'main/base_generic.html' %}
{% load i18n %}

{% block content %}
<div class="container mt-1">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <!-- Título del post -->
            <h1 class="display-4">{{ post.title }}</h1>
            <!-- Información del autor y la fecha de creación -->
            <p class="text-muted">
                {% trans "by" %} {{ post.author }} {% trans "on" %} {{ post.created_at|date:"F j, Y" }}
            </p>
            {% if post.image %}
                <!-- Imagen del post si existe -->
                <img src="{{ post.image.url }}" class="img-fluid mb-4" alt="{{ post.title }}">
            {% endif %}
            <!-- Subtítulo del post -->
            <p class="lead">{{ post.subtitle }}</p>
            <!-- Contenido del post -->
            <div>{{ post.body|safe }}</div>
        </div>
    </div>
</div>
{% endblock %}
