<!--blog/create_blog_post.html-->

{% extends "main/base_sidebar.html" %}
{% load custom_filters %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Create Blog Post</h1>
        <hr class="my-5">
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group text-left">
                            {{ form.non_field_errors }}
                        </div>
                        {% for field in form %}
                        <div class="form-group text-left">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:"form-control" }}
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                            <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

