<!-- blog/delete_blog_post.html -->
 
{% extends "main/base_sidebar.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-1">
    <div class="text-center">
        <!-- Título de la página para eliminar un post -->
        <h1 class="display-4">{% trans "Delete Blog Post" %}</h1>
        <hr class="my-5">
        <!-- Pregunta de confirmación -->
        <p>{% trans "Are you sure you want to delete this post?" %}</p>
        <h3>{{ blog_post.title }}</h3>
        <!-- Formulario para confirmar la eliminación del post -->
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
            <a href="{% url 'blog:admin_blog_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
        </form>
    </div>
</div>
{% endblock %}