<!-- main/templates/dashboard/client_dashboard.html -->

{% extends "sidebars/base_sidebar.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Your Dashboard - ITS Portal" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/custom_styles.css' %}">
<div class="container mt-1">
    <div class="text-center">
        <h1 class="display-4">{% trans "Your Dashboard" %}</h1>
        <hr class="my-5">
    </div>

    <div class="row">
        <!-- Sección de Proyectos -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <a href="{% url 'projects_app:view_projects' %}" class="text-white text-decoration-none">
                        <h4>{% trans "Your Projects" %}</h4>
                    </a>
                </div>
                <div class="card-body" style="max-height: 270px; overflow-y: auto;">
                    <ul class="list-group">
                        {% for project in projects %}
                            {% url 'projects_app:view_project' project.id as view_project_url %}
                            <li class="list-group-item d-flex justify-content-between align-items-center" onclick="window.location.href='{{ view_project_url }}'" style="cursor: pointer;">
                                <span>{{ project.name }}</span>
                                <span>
                                    {% if project.status == 'pending' %}
                                        <span class="badge bg-warning text-dark">{{ project.get_status_display }}</span>
                                    {% elif project.status == 'ongoing' %}
                                        <span class="badge bg-success">{{ project.get_status_display }}</span>
                                    {% elif project.status == 'completed' %}
                                        <span class="badge bg-secondary">{{ project.get_status_display }}</span>
                                    {% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Sección de Mensajes -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <a href="{% url 'messages_app:default_messages_view' %}" class="text-white text-decoration-none">
                        <h4>{% trans "Messages" %}</h4>
                    </a>
                </div>
                <div class="card-body" style="max-height: 270px; overflow-y: auto;">
                    <ul class="list-group">
                        {% for message in messages %}
                            {% url 'messages_app:messages_view' message.sender.id as messages_view_url %}
                            <li class="list-group-item d-flex justify-content-between align-items-center" onclick="window.location.href='{{ messages_view_url }}'" style="cursor: pointer;">
                                <span><strong>{{ message.sender.username }}</strong>: {{ message.content|truncatewords:10 }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Sección de Posts en el Foro -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <a href="{% url 'forum_app:forum' %}" class="text-white text-decoration-none">
                        <h4>{% trans "Forum Posts" %}</h4>
                    </a>
                </div>
                <div class="card-body" style="max-height: 270px; overflow-y: auto;">
                    <ul class="list-group">
                        {% for post in forum_posts %}
                            {% url 'forum_app:create_post' post.topic.id as create_post_url %}
                            <li class="list-group-item d-flex justify-content-between align-items-center" onclick="window.location.href='{{ create_post_url }}'" style="cursor: pointer;">
                                <span><strong>{{ post.topic.title }}</strong>: {{ post.content|truncatewords:10 }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Sección de Posts en el Blog -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <a href="{% url 'blog:admin_blog_list' %}" class="text-white text-decoration-none">
                        <h4>{% trans "Blog Posts" %}</h4>
                    </a>
                </div>
                <div class="card-body" style="max-height: 270px; overflow-y: auto;">
                    <ul class="list-group">
                        {% for post in blog_posts %}
                            {% url 'blog:edit_blog_post' post.id as edit_blog_post_url %}
                            <li class="list-group-item d-flex justify-content-between align-items-center" onclick="window.location.href='{{ edit_blog_post_url }}'" style="cursor: pointer;">
                                <span><strong>{{ post.title }}</strong>: {{ post.subtitle|truncatewords:10 }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% if request.session.show_welcome_modal %}
    <!-- Modal de bienvenida -->
    <div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="welcomeModalLabel">{% trans "Welcome" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{% trans "Welcome to the dashboard! We are glad to have you on board." %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% if request.session.show_welcome_modal %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var welcomeModal = new bootstrap.Modal(document.getElementById('welcomeModal'));
        welcomeModal.show();

        // Clear the session flag after displaying the modal
        fetch("{% url 'main:clear_welcome_modal_flag' %}").then(response => response.json()).then(data => {
            console.log(data);
        });
    });
</script>
{% endif %}
{% endblock %}
