<!-- main/templates/dashboard/employee_dashboard.html -->

{% extends "sidebars/base_sidebar.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Employee Dashboard - ITS Portal" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/custom_styles.css' %}">
<div class="container mt-1">
    <div class="text-center">
        <h1 class="display-4">{% trans "Employee Dashboard" %}</h1>
        <hr class="my-5">
    </div>

    <div class="row">
        <!-- Sección de Proyectos -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <a href="{% url 'projects_app:employee_projects_dashboard' %}" class="text-white text-decoration-none">
                        <h4>{% trans "Your Projects" %}</h4>
                    </a>
                </div>
                <div class="card-body" style="height: 270px; overflow-y: auto;">
                    <ul class="list-group">
                        {% for project in projects %}
                            {% url 'projects_app:view_project' project.id as view_project_url %}
                            <li class="list-group-item d-flex justify-content-between align-items-center" onclick="window.location.href='{{ view_project_url }}'" style="cursor: pointer;">
                                <span>{{ project.name }}</span>
                                <span>
                                    {% if project.status == 'pending' %}
                                        <span class="badge bg-warning text-dark">{{ project.get_status_display }}</span>
                                    {% elif project.status == 'ongoing' %}
                                        <span class="badge bg-success">{{ project.get_status_display }}</span>
                                    {% elif project.status == 'completed' %}
                                        <span class="badge bg-secondary">{{ project.get_status_display }}</span>
                                    {% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Sección de Mensajes -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <a href="{% url 'messages_app:default_messages_view' %}" class="text-white text-decoration-none">
                        <h4>{% trans "Messages" %}</h4>
                    </a>
                </div>
                <div class="card-body" style="height: 270px; overflow-y: auto;">
                    <ul class="list-group">
                        {% for message in messages %}
                            {% url 'messages_app:messages_view' message.sender.id as messages_view_url %}
                            <li class="list-group-item d-flex justify-content-between align-items-center" onclick="window.location.href='{{ messages_view_url }}'" style="cursor: pointer;">
                                <span><strong>{{ message.sender.username }}</strong>: {{ message.content|truncatewords:10 }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Sección de Posts en el Foro -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <a href="{% url 'forum_app:forum' %}" class="text-white text-decoration-none">
                        <h4>{% trans "Forum Posts" %}</h4>
                    </a>
                </div>
                <div class="card-body" style="height: 270px; overflow-y: auto;">
                    <ul class="list-group">
                        {% for post in forum_posts %}
                            {% url 'forum_app:create_post' post.topic.id as create_post_url %}
                            <li class="list-group-item d-flex justify-content-between align-items-center" onclick="window.location.href='{{ create_post_url }}'" style="cursor: pointer;">
                                <span><strong>{{ post.topic.title }}</strong>: {{ post.content|truncatewords:10 }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Sección de Posts en el Blog -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <a href="{% url 'blog:employee_blog_list' %}" class="text-white text-decoration-none">
                        <h4>{% trans "Blog Posts" %}</h4>
                    </a>
                </div>
                <div class="card-body" style="height: 270px; overflow-y: auto;">
                    <ul class="list-group">
                        {% for post in blog_posts %}
                            {% url 'blog:edit_blog_post' post.id as edit_blog_post_url %}
                            <li class="list-group-item d-flex justify-content-between align-items-center" onclick="window.location.href='{{ edit_blog_post_url }}'" style="cursor: pointer;">
                                <span><strong>{{ post.title }}</strong>: {{ post.subtitle|truncatewords:10 }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% if request.session.show_welcome_modal %}
        <!-- Modal de bienvenida -->
        <div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content text-center bg-dark" data-bs-theme="dark">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body bg-dark text-white">
                        <img src="{% static 'assets/images/welcome.svg' %}" alt="{% trans 'Welcome' %}" class="img-fluid mb-4" 
                        style="max-width: 550px;">
                        <h5 class="modal-title mb-3" id="welcomeModalLabel">{% trans "Welcome to your workspace!" %}</h5>
                        <p class="mb-4">{% trans "What do you do here? You can access your projects" %}</p>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-warning text-dark mx-2" id="projectsButton">{% trans "Projects" %}</button>
                            <button type="button" class="btn btn-warning text-dark mx-2" id="messagesButton">{% trans "Messages" %}</button>
                            <button type="button" class="btn btn-warning text-dark mx-2" id="forumButton">{% trans "Forum Posts" %}</button>
                            <button type="button" class="btn btn-warning text-dark mx-2" id="blogButton">{% trans "Blog Posts" %}</button>
                            <button type="button" class="btn btn-warning text-dark mx-2" id="dashboardButton">{% trans "Dashboard Overview" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% if request.session.show_welcome_modal %}
        <!-- Modal de bienvenida -->
        <div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content text-center bg-dark" data-bs-theme="dark">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-dark text-white border-0">
                        <img src="{% static 'assets/images/welcome.svg' %}" alt="{% trans 'Welcome' %}" class="img-fluid mb-4" 
                        style="max-height: 350px;">
                        <h5 class="modal-title mb-3" id="welcomeModalLabel">{% trans "Welcome to your workspace!" %}</h5>
                        <p class="mb-4">{% trans "What do you do here? You can access your projects" %}</p>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-warning text-dark mx-2" id="projectsButton">{% trans "Projects" %}</button>
                            <button type="button" class="btn btn-warning text-dark mx-2" id="messagesButton">{% trans "Messages" %}</button>
                            <button type="button" class="btn btn-warning text-dark mx-2" id="forumButton">{% trans "Forum Posts" %}</button>
                            <button type="button" class="btn btn-warning text-dark mx-2" id="blogButton">{% trans "Blog Posts" %}</button>
                            <button type="button" class="btn btn-warning text-dark mx-2" id="dashboardButton">{% trans "Dashboard Overview" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% if request.session.show_welcome_modal %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const welcomeModal = new bootstrap.Modal(document.getElementById('welcomeModal'));
        welcomeModal.show();

        document.getElementById('projectsButton').onclick = function() {
            window.location.href = "{% url 'projects_app:view_projects' %}";
        };
        document.getElementById('messagesButton').onclick = function() {
            window.location.href = "{% url 'messages_app:default_messages_view' %}";
        };
        document.getElementById('forumButton').onclick = function() {
            window.location.href = "{% url 'forum_app:forum' %}";
        };
        document.getElementById('blogButton').onclick = function() {
            window.location.href = "{% url 'blog:admin_blog_list' %}";
        };
        document.getElementById('dashboardButton').onclick = function() {
            window.location.href = "{% url 'main:dashboard' %}";
        };

        // Clear the session flag after displaying the modal
        fetch("{% url 'main:clear_welcome_modal_flag' %}").then(response => response.json()).then(data => {
            console.log(data);
        });
    });
</script>
{% endif %}

<style>
.card-header-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
</style>
{% endblock %}