<!-- projects_app/templates/documents/create_deliverable.html -->

{% extends "sidebars/base_sidebar.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Create Deliverable" %}{% endblock %}

{% block content %}
<div class="container mt-1">
    <div class="text-center">
        <h1 class="display-4">{% trans "Create Deliverable" %}</h1>
        <hr class="my-5">
    </div>
    
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">{% trans "Name" %}</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="due_date" class="form-label">{% trans "Due Date" %}</label>
            <input type="date" class="form-control" id="due_date" name="due_date" required>
        </div>
        <div class="mb-3">
            <label for="assigned_to" class="form-label">{% trans "Assigned To" %}</label>
            <select class="form-select" id="assigned_to" name="assigned_to">
                <option value="">{% trans "Choose..." %}</option>
                {% for employee in employees %}
                    <option value="{{ employee.id }}">{{ employee.username }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success">{% trans "Create Deliverable" %}</button>
    </form>
</div>
{% endblock %}

