/* static/css/messages_styles.css */

#sidebar {
    height: calc(100vh - 320px);
    overflow-y: auto;
    border-right: 1px solid #dee2e6;
}

#messages {
    flex-grow: 1;
    overflow-y: auto;
    height: calc(100vh - 450px);
}

.list-group-item {
    cursor: pointer;
}

.list-group-item-action:hover,
.list-group-item-action:focus {
    background-color: #f8f9fa;
}

.p-3 {
    max-width: 75%;
}

.bg-primary {
    background-color: #007bff !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6;
}

.border-top {
    border-top: 1px solid #dee2e6;
}

.bi,
.fas {
    color: #343a40;
}
