/* static/assets/css/scrollbar.css */

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background: #f8f9fa;
    transition: background 0.3s;
}

body.dark-mode ::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #007bff;
    transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

body.dark-mode ::-webkit-scrollbar-thumb {
    background: #444;
}

body.dark-mode ::-webkit-scrollbar-thumb:hover {
    background: #666;
}
