/* static/css/sidebar_styles.css */

#wrapper, #sidebar-wrapper {
    min-height: 100vh;
}

#sidebar-wrapper {
    width: 280px;
    background: #202327;
    color: #fff;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.sidebar-heading {
    width: 100%;
    padding: 1rem;
}

.nav-pills .nav-link {
    color: #e0e0e0;
    transition: color 0.3s ease, background-color 0.3s ease;
    width: 100%;
    padding: 0.75rem 1rem;
}

.nav-pills .nav-link:hover, .nav-pills .nav-link.active {
    color: #fff;
    background-color: #3a3a3a;
}

.dropdown-menu {
    background-color: #333;
    border: none;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #444;
    color: #fff;
}

.text-bg-dark .dropdown-menu-dark .dropdown-item.text-danger {
    color: #e74c3c;
}

.text-bg-dark .dropdown-menu-dark .dropdown-item.text-danger:hover {
    background-color: #c0392b;
    color: #fff;
}

.selected {
    border: 2px solid #007bff;
}

.bi-arrow-bar-left {
    color: #343a40;
}

body.dark-mode .bi-arrow-bar-left {
    color: #f8f9fa;
}

.dropdown-toggle{
    color: white;
}

#page-content-wrapper {
    width: calc(100% - 280px);
    transition: all 0.3s ease;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -280px;
}

#wrapper.toggled #page-content-wrapper {
    width: 100%;
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }
    #wrapper #page-content-wrapper {
        width: 100%;
    }
}

/* Dark mode for modal */
.modal-content {
    background-color: #f8f9fa;
}

body.dark-mode .modal-content {
    background-color: #333;
    color: #f8f9fa;
}

body.dark-mode .modal-header {
    border-bottom: 1px solid #444;
}

body.dark-mode .modal-body {
    border-top: 1px solid #444;
}

/* Custom scrollbar styles */
.modal-body ul.list-group::-webkit-scrollbar {
    width: 0.5em;
}

.modal-body ul.list-group::-webkit-scrollbar-track {
    background: #f8f9fa;
}

body.dark-mode .modal-body ul.list-group::-webkit-scrollbar-track {
    background: #333;
}

.modal-body ul.list-group::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgb(190, 190, 190);
}

.modal-body ul.list-group::-webkit-scrollbar-thumb:hover {
    border-radius: 4px;
    background: rgb(109, 109, 109);
}

body.dark-mode .modal-body ul.list-group::-webkit-scrollbar-thumb {
    background: rgb(63, 63, 63);
}

body.dark-mode .modal-body ul.list-group::-webkit-scrollbar-thumb:hover {
    background: rgb(190, 190, 190);
}
