/* static/css/sidebar_syltes.css */

#wrapper, #sidebar-wrapper {
    min-height: 100vh;
}

#sidebar-wrapper {
    width: 280px;
    background: #202327;
    color: #fff;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.sidebar-heading {
    width: 100%;
    padding: 1rem;
}

.nav-pills .nav-link {
    color: #e0e0e0;
    transition: color 0.3s ease, background-color 0.3s ease;
    width: 100%;
    padding: 0.75rem 1rem;
}

.nav-pills .nav-link:hover, .nav-pills .nav-link.active {
    color: #fff;
    background-color: #3a3a3a;
}

.dropdown-menu {
    background-color: #333;
    border: none;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #444;
    color: #fff;
}

.text-bg-dark .dropdown-menu-dark .dropdown-item.text-danger {
    color: #e74c3c;
}

.text-bg-dark .dropdown-menu-dark .dropdown-item.text-danger:hover {
    background-color: #c0392b;
    color: #fff;
}

.selected {
    border: 2px solid #007bff;
}

.bi-arrow-bar-left {
    color: #343a40;
}

body.dark-mode .bi-arrow-bar-left {
    color: #f8f9fa; /* or your desired dark mode color */
}

#page-content-wrapper {
    width: calc(100% - 280px);
    transition: all 0.3s ease;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -280px;
}

#wrapper.toggled #page-content-wrapper {
    width: 100%;
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }
    #wrapper #page-content-wrapper {
        width: 100%;
    }
}
