<!-- projects/project_list.html -->
{% extends "main/base_sidebar.html" %}
{% load i18n %}

{% block title %}{% trans "Project List - ITS Portal" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">{% trans "Project List" %}</h1>
        <hr class="my-5">
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for project in projects %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="mb-1">{{ project.name }}</h5>
                                    <p class="mb-1">{{ project.description }}</p>
                                </div>
                                <a href="{% url 'projects:view_project' project.id %}" class="btn btn-primary btn-sm">{% trans "View" %}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
