{% extends 'main/base_generic.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">About Ideas Tech Support</h1>
            <p class="lead">Enhancing Productivity through Advanced Tools and Automation</p>
            <hr class="my-5">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Our Mission</h2>
            <p>At Ideas Tech Support, our mission is to empower businesses by maximizing efficiency and minimizing human error through the use of advanced tools and automation. With a strong focus on data visualization, story telling, project management, and automation, we deliver tailored solutions that meet the unique needs of our clients.</p>
        </div>
        <div class="col-md-6">
            <img src="https://res.cloudinary.com/ferjen/image/upload/v1717890839/ITS/aboutus_team_hw6y9b.jpg" class="img-fluid service_image" alt="About Us">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Our Expertise</h2>
            <p>With over 13 years of experience in the fast-paced Oil and Gas industry, we bring a deep understanding of administrative and project management challenges. Our expertise includes:</p>
            <ul>
                <li>Excel Automation with VBA</li>
                <li>Business Intelligence with Power BI</li>
                <li>Project Management with MS Project and Primavera P6</li>
                <li>Data Visualization</li>
                <li>Full Stack Development</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Why Choose Us?</h2>
            <p>We are dedicated to understanding your unique needs and developing creative solutions that enhance productivity and drive results. By leveraging our extensive experience and technical expertise, we are confident in delivering tools that exceed your expectations.</p>
            <p>Our client-centric approach ensures seamless integration and user adoption, providing comprehensive support throughout the project lifecycle.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <h2>Meet the Team</h2>
            <p>Our team consists of highly skilled professionals who are passionate about technology and innovation. We work collaboratively to ensure that every project we undertake is a success.</p>
        </div>
    </div>
</div>
{% endblock %}

