<!--main/about.html-->

{% extends 'main/base_generic.html' %}
{% load i18n %}

{% block title %}{% trans "About Ideas Tech Support - ITS Portal" %}{% endblock %}

{% block content %}
<div class="container mt-1">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">{% trans "About Ideas Tech Support" %}</h1>
            <p class="lead">{% trans "Enhancing Productivity through Advanced Tools and Automation" %}</p>
            <hr class="my-5">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h2>{% trans "Our Mission" %}</h2>
            <p>{% trans "At Ideas Tech Support, our mission is to empower businesses by maximizing efficiency and minimizing human error through the use of advanced tools and automation. With a strong focus on data visualization, storytelling, project management, and automation, we deliver tailored solutions that meet the unique needs of our clients." %}</p>
        </div>
        <div class="col-md-6">
            <img src="https://res.cloudinary.com/ferjen/image/upload/v1717890839/ITS/aboutus_team_hw6y9b.jpg" class="img-fluid service_image" alt='{% trans "About Us" %}'>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h2>{% trans "Our Expertise" %}</h2>
            <p>{% trans "With over 13 years of experience in the fast-paced Oil and Gas industry, we bring a deep understanding of administrative and project management challenges. Our expertise includes:" %}</p>
            <ul>
                <li>{% trans "Excel Automation with VBA" %}</li>
                <li>{% trans "Business Intelligence with Power BI" %}</li>
                <li>{% trans "Project Management with MS Project and Primavera P6" %}</li>
                <li>{% trans "Data Visualization" %}</li>
                <li>{% trans "Full Stack Development" %}</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>{% trans "Why Choose Us?" %}</h2>
            <p>{% trans "We are dedicated to understanding your unique needs and developing creative solutions that enhance productivity and drive results. By leveraging our extensive experience and technical expertise, we are confident in delivering tools that exceed your expectations." %}</p>
            <p>{% trans "Our client-centric approach ensures seamless integration and user adoption, providing comprehensive support throughout the project lifecycle." %}</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <h2>{% trans "Meet the Team" %}</h2>
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="https://res.cloudinary.com/ferjen/image/upload/v1719765842/portfolio/images/ferJen-img_tewrcr.jpg" class="img-fluid service_image" alt='{% trans "About Us" %}'>
                </div>
                <div class="col-md-8 text-start">
                    <p>
                        {% blocktrans %}
                        Hi! I'm Fernanda 🤓, a passionate Full Stack developer specialized in JavaScript, Python, MongoDB, ExpressJS, React, React Native, and NodeJS. I love bringing my clients' ideas to life by creating fast, well-tested, and user-centered applications. Though I'm in the early stages of my career, I've honed my skills in building efficient and responsive interfaces that provide an exceptional user experience.<br>
                        When I'm not coding, I enjoy hiking, digital photography, pottery, and reading sci-fi.<br>
                        I'm a #DogLover 🐶, #TeamCoffee ☕, and #DarkModeAllTheWay 🌙.<br>
                        I'm eager to collaborate with teams and clients where I can contribute, add value, and embrace new technologies. Whether it's joining a dynamic team or bringing a client's vision to life, I'm excited to start a new project!
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

