<!-- main/contact.html -->

{% extends 'main/base_generic.html' %}
{% load i18n %}

{% block content %}
<div class="container mt-1">
    <div class="text-center">
        <h1 class="display-4">{% trans "Contact Us" %}</h1>
        <p class="lead">{% trans "We'd love to hear from you. Fill out the form below to get in touch." %}</p>
        <hr class="mt-4 mb-3">
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'main:contact' %}">
                        {% csrf_token %}
                        <div class="form-group text-start mb-3">
                            <label for="name">{% trans "Name" %}</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group text-start mb-3">
                            <label for="email">{% trans "Email address" %}</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group text-start mb-3">
                            <label for="subject">{% trans "Subject" %}</label>
                            <input type="text" class="form-control" id="subject" name="subject" required>
                        </div>
                        <div class="form-group text-start mb-3">
                            <label for="message">{% trans "Message" %}</label>
                            <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">{% trans "Send Message" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript para la notificación de mensajes -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const messagesContainer = document.getElementById('messages');
        if (messagesContainer) {
            const message = messagesContainer.dataset.message;
            if (message) {
                alert(message);
            }
        }
    });
</script>
{% endblock %}
