<!-- main/edit_profile.html -->

{% extends 'main/base_sidebar.html' %}
{% load i18n %}
{% load static %}
{% load custom_filters %}

{% block title %}{% trans "Edit Profile - ITS Portal" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/scrollbar.css' %}">

<div class="container-big mt-1">
    <div class="text-center">
        <h1 class="display-4">{% trans "Edit Profile" %}</h1>
        <hr class="my-5">
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card mb-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mb-2 text-center">
                        {% if user.profile.profile_picture %}
                            <img src="{{ user.profile.profile_picture.url }}" class="img-fluid rounded-circle mb-3 profile-image" style="width: 100px; height: 100px;" alt="{% trans 'Profile Picture' %}">
                        {% else %}
                            <img src="{% static 'assets/images/default_avatar.png' %}" class="img-fluid rounded-circle mb-3 profile-image" style="width: 100px; height: 100px;" alt="{% trans 'Default Avatar' %}">
                        {% endif %}
                        <button type="button" class="btn btn-secondary ms-2" data-bs-toggle="modal" data-bs-target="#imageModal">
                            {% trans "Edit Avatar" %}
                        </button>
                        <input type="hidden" id="predefined_image" name="predefined_image">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <!-- Left panel -->
                    <div class="col-md-6 mb-3">
                        <div class="form-group mt-2 text-start">
                            <label for="id_username">{% trans "Username" %}</label>
                            <input type="text" class="form-control" id="id_username" value="{{ user.username }}" disabled>
                        </div>
                        <div class="form-group mt-3 text-start">
                            <label for="id_first_name">{% trans "First Name" %}</label>
                            {{ user_form.first_name|add_class:"form-control mb-3" }}
                        </div>
                        <div class="form-group mt-3 text-start">
                            <label for="id_last_name">{% trans "Last Name" %}</label>
                            {{ user_form.last_name|add_class:"form-control mb-3" }}
                        </div>
                        <div class="form-group mt-3 text-start">
                            <label for="id_email">{% trans "Email" %}</label>
                            {{ user_form.email|add_class:"form-control mb-3"|add_attribute:"readonly:true" }}
                        </div>
                        <div class="form-group mt-3 text-start">
                            <label for="id_location">{% trans "Location" %}</label>
                            {{ profile_form.location|add_class:"form-control mb-3" }}
                        </div>                        
                    </div>

                    <!-- Right panel -->
                    <div class="col-md-6 mb-3">
                        <div class="form-group mt-2 text-start">
                            <label for="id_birth_date">{% trans "Birth Date" %}</label>
                            {{ profile_form.birth_date|add_class:"form-control mb-3" }}
                        </div>
                        <div class="form-group mt-3 text-start">
                            <label for="id_bio">{% trans "Bio" %}</label>
                            {{ profile_form.bio|add_class:"form-control mb-3" }}
                        </div>
                        <div class="form-group mt-4 text-start">
                            <label for="id_current_password">{% trans "Current Password" %}</label>
                            <input type="password" class="form-control" id="id_current_password" name="current_password" required>
                        </div>
                        <div class="form-group mt-3 text-start">
                            <label for="id_confirm_current_password">{% trans "Re-enter Current Password" %}</label>
                            <input type="password" class="form-control" id="id_confirm_current_password" name="confirm_current_password" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-2">{% trans "Save Changes" %}</button>
            </div>
        </div>
    </form>
</div>

<!-- Modal for selecting profile image -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">{% trans "Select a Profile Image" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                <div class="row">
                    {% for image in predefined_images %}
                        <div class="col-md-2 mb-3">
                            <img id="predefined-image-{{ forloop.counter }}" src="{% static image %}" alt="Avatar" class="img-thumbnail predefined-image" data-image-src="{% static image %}" style="width: 100%; height: 100%; cursor: pointer;">
                        </div>
                    {% endfor %}
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label for="id_profile_picture">{% trans "Upload Profile Picture" %}</label>
                        {{ profile_form.profile_picture|add_class:"form-control mb-3" }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
                <button type="button" class="btn btn-primary" id="selectImage">{% trans "Save changes" %}</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'assets/js/dark_mode.js' %}"></script>
<script src="{% static 'assets/js/edit_profile.js' %}"></script>
{% endblock %}

