<!-- main/profile.html -->

{% extends 'main/base_sidebar.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Profile - ITS Portal" %}{% endblock %}

{% block content %}
<div class="container-big mt-5">
    <div class="text-center">
        <h1 class="display-4">{% trans "Profile" %}</h1>
        <hr class="my-5">
    </div>

    <div class="card mb-5">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3>{{ user.username }}</h3>
            <a href="{% url 'main:edit_profile' %}" class="btn btn-primary">{% trans "Edit Profile" %}</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 text-center">
                    {% if user.profile.profile_picture %}
                        <img src="{{ user.profile.profile_picture.url }}" class="img-fluid rounded-circle mb-3" alt="{% trans 'Profile Picture' %}">
                    {% else %}
                        <img src="{% static 'assets/images/default_avatar.png' %}" class="img-fluid rounded-circle mb-3" alt="{% trans 'Default Avatar' %}">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <p><strong>{% trans "Email:" %}</strong> {{ user.email }}</p>
                    <p><strong>{% trans "First Name:" %}</strong> {{ user.first_name }}</p>
                    <p><strong>{% trans "Last Name:" %}</strong> {{ user.last_name }}</p>
                    <p><strong>{% trans "Role:" %}</strong> {{ user.profile.role }}</p>
                    <p><strong>{% trans "Bio:" %}</strong> {{ user.profile.bio }}</p>
                    <p><strong>{% trans "Location:" %}</strong> {{ user.profile.location }}</p>
                    <p><strong>{% trans "Birth Date:" %}</strong> {{ user.profile.birth_date }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
