<!--main/register.html-->

{% extends 'main/base_generic.html' %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">{% trans "Register" %}</h1>
        <p class="lead">{% trans "Create an account to access our services." %}</p>
        <hr class="my-5">
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="card shadow-lg border-0">
                <div class="card-body p-5">
                    <form method="post" action="{% url 'main:register' %}">
                        {% csrf_token %}
                        <div class="form-group text-left">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">{% trans "Register" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
