<!--main/services.html-->

{% extends 'main/base_generic.html' %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="text-center mb-5">
        <h1 class="display-4">{% trans "Our Services" %}</h1>
        <p class="lead">{% trans "Explore the range of services we offer to enhance your business operations." %}</p>
    </div>
    <hr class="my-5">
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="segment my-5">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="media-left" style="overflow: hidden; height: 340px; width: 500px;">
                        <img src="https://res.cloudinary.com/ferjen/image/upload/v1718074358/ITS/Projects/DV_1015x587-100_evukte.jpg" class="mr-3 service_image" alt="{% trans "Automation Solutions" %}" style="height: 100%; width: auto;">
                    </div>
                    <div class="media-body mx-4">
                        <h3 class="mt-0 text-center">{% trans "Automation Solutions" %}</h3>
                        <p>{% trans "Transform your operations with our advanced automation solutions. From streamlining workflows to minimizing errors, we ensure efficiency and reliability. Our solutions adapt to your unique needs, providing seamless integration and unmatched performance. Elevate your business processes with automation designed for success. Whether it's reducing manual tasks or enhancing productivity, our expertise makes it happen effortlessly." %}</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary">{% trans "Learn More" %}</a>
                        </div>
                    </div>
                </div>
                <hr class="my-5">
            </div>
            <div class="segment my-5">
                <div class="d-flex justify-content-between align-items-center flex-row-reverse">
                    <div class="media-right" style="overflow: hidden; height: 340px; width: 500px;">
                        <img src="https://res.cloudinary.com/ferjen/image/upload/v1718074504/ITS/Projects/DV_829x432-100_o4fbom.jpg" class="ml-3 service_image" alt="{% trans "Data Visualization" %}" style="height: 100%; width: auto;">
                    </div>
                    <div class="media-body mx-4">
                        <h3 class="mt-0 text-center">{% trans "Data Visualization" %}</h3>
                        <p>{% trans "Harness the potential of your data with our compelling visualizations. We transform complex data into clear, actionable insights that drive better decisions. Our visualizations are tailored to your needs, making it easy to understand and utilize your data effectively. With cutting-edge tools and techniques, we turn data into a powerful asset for your business. Whether for reporting, analysis, or strategic planning, our visualizations bring clarity and insight." %}</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary">{% trans "Learn More" %}</a>
                        </div>
                    </div>
                </div>
                <hr class="my-5">
            </div>
            <div class="segment my-5">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="media-left" style="overflow: hidden; height: 340px; width: 500px;">
                        <img src="https://res.cloudinary.com/ferjen/image/upload/v1718074359/ITS/Projects/PM_1270x845-100_mvworc.jpg" class="mr-3 service_image" alt="{% trans "Project Management" %}" style="height: 100%; width: auto;">
                    </div>
                    <div class="media-body mx-4">
                        <h3 class="mt-0 text-center">{% trans "Project Management" %}</h3>
                        <p>{% trans "Elevate your project success with our comprehensive project management services. From detailed baseline schedules and progress reports to handling claims and EOT, our expertise ensures flawless execution. Harness the power of Power BI for dynamic reporting and achieve unparalleled efficiency. Need recovery schedules or tender proposals? We’ve got you covered!" %}</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary">{% trans "Learn More" %}</a>
                        </div>
                    </div>
                </div>
                <hr class="my-5">
            </div>
            <div class="segment my-5">
                <div class="d-flex justify-content-between align-items-center flex-row-reverse">
                    <div class="media-right" style="overflow: hidden; height: 340px; width: 500px;">
                        <img src="https://res.cloudinary.com/ferjen/image/upload/v1718074627/ITS/Projects/CT_1920x1290-100_xczo3w.jpg" class="ml-3 service_image" alt="{% trans "Training Services" %}" style="height: 100%; width: auto;">
                    </div>
                    <div class="media-body mx-4">
                        <h3 class="mt-0 text-center">{% trans "Training Services" %}</h3>
                        <p>{% trans "Empower your team with our tailored training programs, crafted for maximum impact. Whether on-site or online, our sessions cover all aspects of project management, aligning with your company’s objectives. We collaborate closely to design content that fits your industry, projects, and goals. Enhance skills and boost productivity with training that adapts to your needs. From foundational principles to advanced techniques, our programs prepare your team for excellence." %}</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary">{% trans "Learn More" %}</a>
                        </div>
                    </div>
                </div>
                <hr class="my-5">
            </div>
        </div>
    </div>
</div>
{% endblock %}
