<!--main/test_media_static.html-->
#TODO: Delete after testing... 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{{ static_url }}css/styles.css">
    <title>Test Media and Static</title>
</head>
<body>
    <h1>Test Media and Static Files</h1>
    <h2>Static Image</h2>
    <img src="{{ static_url }}assets/images/avatars/troll_toby.png" alt="Static Image" style="width: 200px;">
    
    <h2>Media Image</h2>
    <img src="{{ media_url }}profile_images/addams_enid.png" alt="Media Image" style="width: 200px;">
</body>
</html>