<!--main/test_media_static.html-->
#TODO: Delete after testing... 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Media and Static</title>
    <link rel="stylesheet" href="{{ static_url }}assets/css/styles.css">
</head>
<body>
    <h1>Test Media and Static Files</h1>
    <h2>Static Image</h2>
    <img src="{{ static_url }}assets/images/avatars/troll_toby.png" alt="Static Image">
    
    <h2>Media Image</h2>
    <img src="{{ media_url }}profile_images/default_avatar.png" alt="Media Image">
</body>
</html>