<!--communications_app/templates/communications_app/admin_inbox.html-->

{% extends "sidebars/base_sidebar.html" %}
{% load i18n %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container mt-1">
    <div class="text-center">
        <h1 class="display-4">{% trans "Admin Inbox" %}</h1>
        <p class="lead">{% trans "Here you can see all messages received from the contact form and quote requests." %}</p>
        <hr class="mt-4 mb-3">
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped table-hover custom-table">
                        <thead>
                            <tr class="text-start">
                                <th>{% trans "Type" %}</th>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Email" %}</th>
                                <th>{% trans "Message/Request" %}</th>
                                <th>{% trans "Received At" %}</th>
                                <th>{% trans "New" %}</th>
                                <th>{% trans "Actions" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in messages %}
                            <tr class="table-row text-start">
                                <td>{{ message|get_message_type }}</td>
                                <td>{{ message.name }}</td>
                                <td>{{ message.email }}</td>
                                <td>
                                    {% if message.message %}
                                        {{ message.message }}
                                    {% elif message.request %}
                                        {{ message.request }}
                                    {% endif %}
                                </td>
                                <td>{{ message.created_at }}</td>
                                <td>
                                    {% if not message.read %}
                                    <span class="badge bg-success text-white">New</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Message Actions">
                                        <button class="btn btn-sm btn-outline-primary border-0" 
                                        style="width: 38px;" title="{% trans 'Reply' %}" 
                                        data-message-id="{{ message.id }}" 
                                        data-message-email="{{ message.email }}" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#replyMessageModal">
                                            <i class="bi bi-reply-fill"></i>
                                        </button>
                                        <button class="btn btn-sm btn-outline-danger border-0" 
                                        style="width: 38px;" title="{% trans 'Archive' %}" 
                                        data-message-id="{{ message.id }}" 
                                        onclick="archiveMessage(this)">
                                            <i class="bi bi-archive-fill"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "modals/reply_message_modal.html" %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/inbox.js' %}"></script>
{% endblock %}
