<!-- its_admin/view_projects.html -->

{% extends "main/base_sidebar.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Projects - ITS Portal" %}{% endblock %}

{% block content %}
<div class="container mt-1">
    <div class="text-center">
        <h1 class="display-4">{% trans "Projects" %}</h1>
        <hr class="my-5">
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-start">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="mb-0">{% trans "Projects" %}</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-end mb-3">
                        <a href="{% url 'its_admin:create_project' %}" class="btn btn-success">{% trans "Create New Project" %}</a>
                    </div>
                    <ul class="list-group">
                        {% for project in projects %}
                            {% url 'its_admin:edit_project' project.id as edit_url %}
                            <li class="list-group-item list-group-item-project d-flex justify-content-between align-items-center mb-2" onclick="window.location.href='{{ edit_url }}'" style="cursor: pointer;">
                                <span class="text-decoration-none">{{ project.name }}</span>
                                <span>
                                    {% if project.status == 'pending' %}
                                        <span class="badge bg-warning text-dark">{{ project.get_status_display }}</span>
                                    {% elif project.status == 'ongoing' %}
                                        <span class="badge bg-success">{{ project.get_status_display }}</span>
                                    {% elif project.status == 'completed' %}
                                        <span class="badge bg-secondary">{{ project.get_status_display }}</span>
                                    {% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
