<!-- communications_app/templates/modals/reply_message_modal.html -->


{% load i18n %}

<div class="modal fade" id="replyMessageModal" tabindex="-1" aria-labelledby="replyMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="replyMessageModalLabel">{% trans "Reply to Message" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="replyMessageForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="reply-email" class="form-label">{% trans "To" %}</label>
                        <input type="email" class="form-control" id="reply-email" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="reply-message" class="form-label">{% trans "Message" %}</label>
                        <textarea class="form-control" id="reply-message" rows="4" required></textarea>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn its-btn-danger">{% trans "Send Reply" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

