<!-- employee_portal/active_projects.html -->

{% extends 'employee_portal/employee_dashboard_base.html' %}
{% load i18n %}

{% block title %}{% trans "Active Projects" %} - ITS Portal{% endblock %}

{% block content %}
<div class="container mt-1">
    <div class="text-center">
        <h1 class="display-4">{% trans "Active Projects" %}</h1>
        <hr class="my-5">
    </div>
    <ul class="list-unstyled">
        {% for project in projects %}
            <li class="mb-2">
                <strong>{{ project.name }}</strong> - {% trans "Due" %}: {{ project.deadline }}
                <a href="{% url 'project_detail' project.id %}">{% trans "Details" %}</a>
            </li>
        {% empty %}
            <li>{% trans "No active projects." %}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

