<!-- employee_portal/profile.html -->

{% extends 'employee_portal/employee_dashboard_base.html' %}
{% load i18n %}

{% block title %}{% trans "Profile - ITS Portal" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">{% trans "Profile" %}</h1>
        <hr class="my-5">
    </div>

    <div class="card">
        <div class="card-header">
            <h3>{{ user.username }}</h3>
        </div>
        <div class="card-body">
            <p><strong>{% trans "Email:" %}</strong> {{ user.email }}</p>
            <p><strong>{% trans "First Name:" %}</strong> {{ user.first_name }}</p>
            <p><strong>{% trans "Last Name:" %}</strong> {{ user.last_name }}</p>
            <p><strong>{% trans "Role:" %}</strong> {{ profile.role }}</p>
            <p><strong>{% trans "Bio:" %}</strong> {{ profile.bio }}</p>
            <p><strong>{% trans "Location:" %}</strong> {{ profile.location }}</p>
            <p><strong>{% trans "Birth Date:" %}</strong> {{ profile.birth_date }}</p>
            <img src="{{ profile.profile_picture.url }}" class="img-fluid rounded-circle" alt="{% trans 'Profile Picture' %}">
        </div>
    </div>
</div>
{% endblock %}

